*.pyc
SerIDE/
.svn/
Serial/
TallerDocente/
guia/
interprete/
interprete2/
qtserialport/
sasm/
simulador.zip
sp-build/
src_old/
editor/2.map
editor/Untitled.png
editor/asd.map
editor/asd2.map
editor/dw.map
licencia/
simulador/background/asd.map
simulador/tests/bug.sasm
simulador/tests/minius.txt
simulador/tests/poligono_jmp.sasm
simulador/tests/prog_obj3.ser
simulador/untitled.sublime-project
simulador/untitled.sublime-workspace
arduino-1.0.5/
editor/sin_nombre.map
motors_con_codigo_comentado.py
robot.py
simulador/asd_1
simulador/asd_127
simulador/asd_50
simulador/background/blanco.jpg
simulador/der
simulador/izq.csv
simulador/tests/test
simulador/tests/test_cuadrado.sasm
simulador/times
